@import "reset";
@import "./themes/normal";

.app {
    font: var(--font-m);
    color: var(--secondary);
    background: var(--main);
    min-height: 100vh;
    min-width: 100%;
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--secondary);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-inverted);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid var(--secondary-inverted);  /* padding вокруг плашки */
}