.MainPageLayout {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.playerWrapper {
  margin-bottom: 16px;
  height: 50vh;
}

.eventList {
  height: calc(50vh - 16px);
  width: 600px;
}