.EventList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
  padding-right: 8px;
  height: 720px;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: calc(50% + 700px);
  transform: translate(-50%, -50%);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  width: 100px;
}

.eventItem {
  &:hover  {
    border: 1px solid var(--secondary);
    background-color: rgba(255,255,255, 0.5);
  }
}