.progressBar {
  position: absolute;
  left: 50%;
  top: 90%;
  transform:translate(-50%, -90%);
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
  width: 1280px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 1280px;
  height: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--secondary);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
}
